:root {
    --bs-dark: #030712;
    --bs-blue-dark: #111827;
}

section {
    padding-top: 96px!important;
    padding-bottom: 96px!important;
}

.bg-dark {
    background-color: var(--bs-dark)!important;
}

.bg-blue-dark {
    background-color: var(--bs-blue-dark);
}

.text-bg-dark {
    color: #fff!important;
    background-color: var(--bs-blue-dark)!important;
}

.bg-gray-light {
    background-color: #374151;
}
.bg-gray-dark {
    background-color: #1F2937;
}

.btn-dark {
    color: #D1D5DB;
    font-size: 14px;
    border-radius: 12px;
    background-color: #374151;
}

body {
    font-size: 18px;
    line-height: 28px;
}

h1 {
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 2px;
}

h2 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2px;
}

h3 {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 2px;
}

.btn {
    border-radius: 12px!important;
    padding: 4px 20px!important;
}

/*Section Hero*/
#hero .img-thumbnail {
    max-width: 280px;
    max-height: 320px;
}
/*end Section Hero*/

/*Section About*/
#about .img-thumbnail {
    max-width: 400px;
    max-height: 480px;
}
/*end Section About*/

#work .card {
    background-color: #374151;
}
#work img {
    max-height: 380px;
}

#skills .skills-icon {
    width: auto;
    height: 64px;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    row-gap: 20px;
}

.skills-title {
    color: #D1D5DB;
    text-decoration: none;
}

@media (max-width: 768px)  {
    body {
        font-size: 16px;
        line-height: 24px;
    }
    /* Заголовки */
    h1 {
        font-size: 48px;
        line-height: 48px;
    }

    h2 {
        font-size: 18px;
        line-height: 28px;
    }

    h3 {
        font-size: 24px;
        line-height: 32px;
    }
    /* end Заголовки */

    section {
        padding-top: 64px!important;
        padding-bottom: 64px!important;
    }
    #work img {
        max-height: 250px;
    }
}

@media (max-width: 576px) {
    /* Заголовки */
    h1 {
        font-size: 36px;
        line-height: 40px;
        letter-spacing: unset;
    }
    /* end Заголовки */
    #hero .img-thumbnail {
        max-width: 240px;
        max-height: 280px;
    }

    #about .img-thumbnail {
        max-width: 280px;
        max-height: 360px;
    }

    #work img {
        max-height: 192px;
    }
}


